<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <% if (typeof msg !== 'undefined') { %>
        <div class="alert alert-danger">
            <%= msg %>
        </div>
    <% } %>
    <form action="/signIn" method="post">
    <div class="row justify-content-center">
        <div class="col-12  col-xl-8 ">
            <div class="row">
                <img src="https://i.pinimg.com/564x/b0/ca/5e/b0ca5e790a73cfebf6543406884fe2fa.jpg" alt="" style="width: 300px; height: 300px;margin:auto; display:block;">
                <div class="col-12 ">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder=name@gmail.com required>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required></div>
                <div class="col-12  ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block col-12 mb-3">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</form>

<p style="text-align: center">need to<a href="/register" /> register</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
